In [1]:
import numpy as np
import pandas as pd

In [2]:
ds = pd.read_csv("data (1).csv")
print(ds.to_string())

                                                  name     company  year          Price    kms_driven fuel_type
0                 Hyundai Santro Xing XO eRLX Euro III     Hyundai  2007         80,000    45,000 kms    Petrol
1                              Mahindra Jeep CL550 MDI    Mahindra  2006       4,25,000        40 kms    Diesel
2                           Maruti Suzuki Alto 800 Vxi      Maruti  2018  Ask For Price    22,000 kms    Petrol
3               Hyundai Grand i10 Magna 1.2 Kappa VTVT     Hyundai  2014       3,25,000    28,000 kms    Petrol
4                     Ford EcoSport Titanium 1.5L TDCi        Ford  2014       5,75,000    36,000 kms    Diesel
5                     Ford EcoSport Titanium 1.5L TDCi        Ford  2015  Ask For Price    59,000 kms    Diesel
6                                            Ford Figo        Ford  2012       1,75,000    41,000 kms    Diesel
7                                          Hyundai Eon     Hyundai  2013       1,90,000    25,000 kms    Petrol
8                     Ford EcoSport Ambiente 1.5L TDCi        Ford  2016       8,30,000    24,530 kms    Diesel
9                       Maruti Suzuki Alto K10 VXi AMT      Maruti  2015       2,50,000    60,000 kms    Petrol
10                         Skoda Fabia Classic 1.2 MPI       Skoda  2010       1,82,000    60,000 kms    Petrol
11                          Maruti Suzuki Stingray VXi      Maruti  2015       3,15,000    30,000 kms    Petrol
12                         Hyundai Elite i20 Magna 1.2     Hyundai  2014       4,15,000    32,000 kms    Petrol
13                          Mahindra Scorpio SLE BS IV    Mahindra  2015       3,20,000    48,660 kms    Diesel
14                Hyundai Santro Xing XO eRLX Euro III     Hyundai  2007         80,000    45,000 kms    Petrol
15                             Mahindra Jeep CL550 MDI    Mahindra  2006       4,25,000        40 kms    Diesel
16                                             Audi A8        Audi  2017      10,00,000     4,000 kms    Petrol
17                                             Audi Q7        Audi  2014       5,00,000    16,934 kms    Diesel
18                                Mahindra Scorpio S10    Mahindra  2016       3,50,000    43,000 kms    Diesel
19                              Maruti Suzuki Alto 800      Maruti  2014       1,60,000    35,550 kms    Petrol
20                                Mahindra Scorpio S10    Mahindra  2016       3,50,000    43,000 kms    Diesel
21                                Mahindra Scorpio S10    Mahindra  2016       3,10,000    39,522 kms    Diesel
22                          Maruti Suzuki Alto 800 Vxi      Maruti  2015         75,000    39,000 kms    Petrol
23                              Hyundai i20 Sportz 1.2     Hyundai  2012       1,00,000    55,000 kms    Petrol
24                              Hyundai i20 Sportz 1.2     Hyundai  2012       1,00,000    55,000 kms    Petrol
25                              Hyundai i20 Sportz 1.2     Hyundai  2012       1,00,000    55,000 kms    Petrol
26                           Maruti Suzuki Alto 800 Lx      Maruti  2017       1,90,000    72,000 kms    Petrol
27                     Maruti Suzuki Vitara Brezza ZDi      Maruti  2016       2,90,000    15,975 kms    Diesel
28                               Maruti Suzuki Alto LX      Maruti  2008         95,000    70,000 kms    Petrol
29                                  Mahindra Bolero DI    Mahindra  2017       1,80,000    23,452 kms    Diesel
30                       Maruti Suzuki Swift Dzire ZDi      Maruti  2014       3,85,000    35,522 kms    Diesel
31                            Mahindra Scorpio S10 4WD    Mahindra  2015       2,50,000    48,508 kms    Diesel
32                       Maruti Suzuki Swift Vdi BSIII      Maruti  2017       1,80,000    15,487 kms    Petrol
33                    Maruti Suzuki Wagon R VXi BS III      Maruti  2013       1,05,000    39,000 kms    Petrol
34                     Maruti Suzuki Wagon R VXi Minor      Maruti  2013       1,05,000    39,000 kms    Petrol
35                     Toyota Innova 2.0 G 8 STR BS IV      Toyota  2012       6,50,000    82,000 kms    Diesel
36                             Renault Lodgy 85 PS RXL     Renault  2018       6,89,999    20,000 kms    Diesel
37                  Skoda Yeti Ambition 2.0 TDI CR 4x2       Skoda  2012       4,48,000    68,000 kms    Diesel
38                      Maruti Suzuki Baleno Delta 1.2      Maruti  2017       5,49,000    32,000 kms    Diesel
39               Renault Duster 110 PS RxZ Diesel Plus     Renault  2012       5,01,000    38,000 kms    Diesel
40                     Renault Duster 85 PS RxE Diesel     Renault  2013       4,89,999    27,000 kms    Diesel
41                                 Honda City 1.5 S MT       Honda  2011       2,80,000    33,000 kms    Petrol
42                      Maruti Suzuki Alto K10 VXi AMT      Maruti  2015       2,50,000    60,000 kms    Petrol
43                                 Maruti Suzuki Dzire      Maruti  2013       3,49,999    46,000 kms    Diesel
44                                         Honda Amaze       Honda  2013       2,84,999    46,000 kms    Diesel
45                           Honda Amaze 1.5 SX i DTEC       Honda  2015       3,45,000    36,000 kms    Diesel
46                                          Honda City       Honda  2015       4,99,999    55,000 kms    Petrol
47                                    Datsun Redi GO S      Datsun  2017       2,35,000    16,000 kms    Petrol
48                            Maruti Suzuki SX4 ZXI MT      Maruti  2010       2,49,999    36,000 kms    Petrol
49             Mitsubishi Pajero Sport Limited Edition  Mitsubishi  2015      14,75,000    47,000 kms    Diesel
50                                  Mahindra Bolero DI    Mahindra  2017       1,80,000    23,452 kms    Diesel
51                       Maruti Suzuki Swift Dzire ZDi      Maruti  2014       3,85,000    35,522 kms    Diesel
52                            Mahindra Scorpio S10 4WD    Mahindra  2015       2,50,000    48,508 kms    Diesel
53                       Maruti Suzuki Swift Vdi BSIII      Maruti  2017       1,80,000    15,487 kms    Petrol
54                    Maruti Suzuki Wagon R VXi BS III      Maruti  2013       1,05,000    39,000 kms    Petrol
55                     Maruti Suzuki Wagon R VXi Minor      Maruti  2013       1,05,000    39,000 kms    Petrol
56                                Mahindra Scorpio S10    Mahindra  2015       3,95,000    35,000 kms    Diesel
57               Maruti Suzuki Swift VXi 1.2 ABS BS IV      Maruti  2017       2,20,000    30,874 kms    Petrol
58                                   Honda City ZX CVT       Honda  2017       1,70,000    15,000 kms    Diesel
59                      Maruti Suzuki Wagon R LX BS IV      Maruti  2013         85,000    29,685 kms    Petrol
60                                           Ford Figo        Ford  2012       1,75,000    41,000 kms    Diesel
61                                         Hyundai Eon     Hyundai  2013       1,90,000    25,000 kms    Petrol
62                        Tata Indigo eCS LS CR4 BS IV        Tata  2017       2,00,000  1,30,000 kms    Diesel
63                    Ford EcoSport Ambiente 1.5L TDCi        Ford  2016       8,30,000    24,530 kms    Diesel
64                        Tata Indigo eCS LS CR4 BS IV        Tata  2017       2,00,000  1,30,000 kms    Diesel
65                          Mahindra Scorpio SLE BS IV    Mahindra  2012       5,70,000    19,000 kms    Diesel
66                Volkswagen Polo Highline Exquisite P  Volkswagen  2014       3,15,000    60,000 kms    Petrol
67                         Skoda Fabia Classic 1.2 MPI       Skoda  2010       1,82,000    60,000 kms    Petrol
68                          Maruti Suzuki Stingray VXi      Maruti  2015       3,15,000    30,000 kms    Petrol
69                     I want to sell my car Tata Zest           I  2017  Ask For Price           NaN       NaN
70                              Chevrolet Spark LS 1.0   Chevrolet  2010       1,10,000    41,000 kms    Petrol
71                     Renault Duster 110PS Diesel RxZ     Renault  2012       5,01,000    35,000 kms    Diesel
72                                          Honda City       Honda  2015       4,48,999    54,000 kms    Petrol
73                                   Mini Cooper S 1.6        Mini  2013      18,91,111    13,000 kms    Petrol
74                                    Datsun Redi GO S      Datsun  2017       2,35,000    16,000 kms    Petrol
75                    Skoda Fabia 1.2L Diesel Ambiente       Skoda  2011       1,59,500    38,200 kms    Diesel
76                                         Honda Amaze       Honda  2015       3,44,999    22,000 kms    Petrol
77                                         Honda Amaze       Honda  2015       3,44,999    22,000 kms    Petrol
78                                      Renault Duster     Renault  2014       4,49,999    50,000 kms    Diesel
79                                   Mini Cooper S 1.6        Mini  2013      18,91,111    13,500 kms    Petrol
80                                 Mahindra Scorpio S4    Mahindra  2015       8,65,000    30,000 kms    Diesel
81                      Mahindra Scorpio VLX 2WD BS IV    Mahindra  2014       6,99,000    50,000 kms    Diesel
82                                  Mahindra Quanto C8    Mahindra  2013       3,75,000    20,000 kms    Diesel
83                                       Ford EcoSport        Ford  2017       4,89,999    39,000 kms    Petrol
84                                          Honda Brio       Honda  2012       2,24,999    30,000 kms    Petrol
85                     I want to sell my car Tata Zest           I  2017  Ask For Price           NaN       NaN
86        Volkswagen Vento Highline Plus 1.5 Diesel AT  Volkswagen  2019      12,00,000     3,600 kms    Diesel
87                                   Hyundai i20 Magna     Hyundai  2009       1,95,000    32,000 kms    Petrol
88                    Toyota Corolla Altis Diesel D4DG      Toyota  2010       3,51,000    38,000 kms    Diesel
89                     Hyundai Verna Transform SX VTVT     Hyundai  2008       1,60,000    45,000 kms    Petrol
90                     Toyota Corolla Altis Petrol Ltd      Toyota  2009       2,40,000    35,000 kms    Petrol
91                              Honda City 1.5 EXi New       Honda  2005         90,000    50,000 kms    Petrol
92                         Hyundai Elite i20 Magna 1.2     Hyundai  2014       4,15,000    32,000 kms    Petrol
93                    Skoda Fabia 1.2L Diesel Elegance       Skoda  2011       1,55,000    45,863 kms    Diesel
94                                   BMW 3 Series 320i         BMW  2011       6,00,000    60,500 kms    Petrol
95                            Maruti Suzuki A Star Lxi      Maruti  2011       1,89,500    12,500 kms    Petrol
96                                     Toyota Etios GD      Toyota  2013       3,50,000    60,000 kms    Diesel
97                         Ford Figo Diesel EXI Option        Ford  2012       2,10,000    35,000 kms    Diesel
98             Maruti Suzuki Swift Dzire VXi 1.2 BS IV      Maruti  2014       3,90,000    35,000 kms    Petrol
99                            Chevrolet Beat LT Diesel   Chevrolet  2012       1,35,000    45,000 kms    Diesel
100                           BMW 7 Series 740Li Sedan         BMW  2009      16,00,000    35,000 kms    Petrol
101                        Mahindra XUV500 W8 AWD 2013    Mahindra  2013       7,01,000    38,000 kms    Diesel
102                              Hyundai i10 Magna 1.2     Hyundai  2014       2,65,000    18,000 kms    Petrol
103                          Hyundai Verna Fluidic New     Hyundai  2015       5,25,000    35,000 kms    Diesel
104                  Maruti Suzuki Swift VXi 1.2 BS IV      Maruti  2013       3,72,000    13,349 kms    Petrol
105                      Maruti Suzuki Ertiga ZXI Plus      Maruti  2016       6,35,000    29,000 kms    Petrol
106                   Ford EcoSport Titanium 1.5L TDCi        Ford  2014       5,50,000    44,000 kms    Diesel
107                           Maruti Suzuki Ertiga Vxi      Maruti  2016       5,75,000    29,000 kms    Petrol
108                           Maruti Suzuki Ertiga VDi      Maruti  2013       4,85,000    42,000 kms    Diesel
109                      Maruti Suzuki Alto LXi BS III      Maruti  2012       1,55,000    14,000 kms    Petrol
110                    Hyundai Grand i10 Asta 1.1 CRDi     Hyundai  2014       3,45,000    49,000 kms    Diesel
111                           Honda Amaze 1.2 S i VTEC       Honda  2014       3,25,000    42,000 kms    Petrol
112                  Hyundai i20 Asta 1.4 CRDI 6 Speed     Hyundai  2012       3,29,500    36,200 kms    Diesel
113                               Ford Figo Diesel EXI        Ford  2014       1,95,000    50,000 kms    Diesel
114               Maruti Suzuki Eeco 5 STR WITH AC HTR      Maruti  2015       2,51,111    55,000 kms    Petrol
115                           Maruti Suzuki Ertiga ZXi      Maruti  2014       5,69,999    45,000 kms    Petrol
116                    Maruti Suzuki Esteem LXi BS III      Maruti  2007         69,999    51,000 kms    Petrol
117                             Maruti Suzuki Ritz VXI      Maruti  2014       2,99,999    19,000 kms    Petrol
118                                Maruti Suzuki Dzire      Maruti  2009       2,20,000    46,000 kms    Petrol
119                             Maruti Suzuki Ritz LDi      Maruti  2013       3,99,999    33,000 kms    Diesel
120                  Maruti Suzuki Swift VXi 1.2 BS IV      Maruti  2013       3,72,000    13,349 kms    Petrol
121                            Maruti Suzuki Dzire VDI      Maruti  2015       4,50,000  1,04,000 kms    Diesel
122                                Toyota Etios Liva G      Toyota  2014       2,70,000    55,000 kms    Petrol
123                        Hyundai i20 Sportz 1.4 CRDI     Hyundai  2011       3,50,000    33,333 kms    Diesel
124                                    Chevrolet Spark   Chevrolet  2012       1,58,400    33,600 kms    Petrol
125                     Maruti Suzuki Alto K10 VXi AMT      Maruti  2017       3,50,000     5,600 kms    Petrol
126                                    Nissan Micra XV      Nissan  2011       1,79,000    41,000 kms    Petrol
127                                Maruti Suzuki Swift      Maruti  2007       1,25,000    70,000 kms    Petrol
128                             Maruti Suzuki Alto 800      Maruti  2018       2,00,000     7,500 kms    Petrol
129                           Honda Amaze 1.5 S i DTEC       Honda  2013       2,99,000    45,000 kms    Diesel
130                         Maruti Suzuki Alto 800 Vxi      Maruti  2015       2,20,000    38,000 kms    Petrol
131                                     Chevrolet Beat   Chevrolet  2015       1,50,000    30,000 kms    Petrol
132                                     Toyota Corolla      Toyota  2009       2,75,000    26,000 kms       NaN
133                                Honda City 1.5 V MT       Honda  2010       2,85,000    35,000 kms    Petrol
134                      Ford EcoSport Trend 1.5L TDCi        Ford  2016       8,30,000    24,330 kms    Diesel
135                               Hyundai i20 Asta 1.2     Hyundai  2009       2,10,000    65,480 kms    Petrol
136            Maruti Suzuki Swift Dzire VXi 1.2 BS IV      Maruti  2013       3,40,000    41,000 kms    Petrol
137                                 Tata Indica V2 eLS        Tata  2006         90,000    20,000 kms    Petrol
138                         Maruti Suzuki Alto 800 Lxi      Maruti  2018  Ask For Price    28,028 kms    Petrol
139                        Hindustan Motors Ambassador   Hindustan  2000         70,000  2,00,000 kms    Diesel
140                        Toyota Corolla Altis 1.8 GL      Toyota  2010       2,89,999    70,000 kms    Petrol
141                         Toyota Corolla Altis 1.8 J      Toyota  2012       3,49,999    59,000 kms    Petrol
142                   Toyota Innova 2.5 GX BS IV 7 STR      Toyota  2012       8,49,999    99,000 kms    Diesel
143                   Volkswagen Jetta Highline TDI AT  Volkswagen  2014       7,49,999    46,000 kms    Diesel
144                 Volkswagen Polo Comfortline 1.2L P  Volkswagen  2015       3,99,999     2,800 kms    Petrol
145                                    Volkswagen Polo  Volkswagen  2014       2,74,999    32,000 kms    Petrol
146                                   Mahindra Scorpio    Mahindra  2015       9,84,999    22,000 kms    Diesel
147                                     Renault Duster     Renault  2014       4,49,999    50,000 kms    Diesel
148                                        Honda Amaze       Honda  2015       3,44,999    22,000 kms    Petrol
149                                       Nissan Sunny      Nissan  2012       2,24,999    45,000 kms    Petrol
150                                  Hyundai Elite i20     Hyundai  2018       5,99,999    21,000 kms    Petrol
151                                       Renault Kwid     Renault  2016       2,44,999    11,000 kms    Petrol
152                                     Renault Duster     Renault  2013       3,99,999    41,000 kms    Diesel
153                                      Ford EcoSport        Ford  2017       4,89,999    39,000 kms    Petrol
154                                     Renault Duster     Renault  2014       4,74,999    50,000 kms    Diesel
155                        Mahindra Scorpio VLX Airbag    Mahindra  2011       4,99,999    66,000 kms    Diesel
156                         Maruti Suzuki Alto 800 Lxi      Maruti  2018       3,10,000     3,000 kms    Petrol
157                             Chevrolet Spark LT 1.0   Chevrolet  2010         85,000    45,000 kms    Petrol
158                                 Datsun Redi GO T O      Datsun  2016       2,45,000     7,000 kms    Petrol
159                         Maruti Suzuki Swift RS VDI      Maruti  2010       1,89,500    38,500 kms    Diesel
160                             Fiat Punto Emotion 1.2        Fiat  2012       1,69,500    37,200 kms    Diesel
161                         Maruti Suzuki Swift RS VDI      Maruti  2010       1,59,500    43,200 kms    Diesel
162                                    Toyota Etios GD      Toyota  2013       2,75,000    24,800 kms    Petrol
163                        Hyundai i20 Sportz 1.4 CRDI     Hyundai  2014       3,70,000    60,000 kms    Diesel
164                             Hyundai i10 Sportz 1.2     Hyundai  2010       1,68,000    45,872 kms    Petrol
165                       Chevrolet Beat LT Opt Diesel   Chevrolet  2011       1,50,000    40,000 kms    Diesel
166                           Chevrolet Beat LS Diesel   Chevrolet  2011       1,45,000    45,000 kms    Diesel
167                           Chevrolet Beat LT Diesel   Chevrolet  2012         98,500    38,000 kms    Diesel
168                     Mahindra Scorpio VLX 2WD BS IV    Mahindra  2014       6,99,000    50,000 kms    Diesel
169                                     Tata Indigo CS        Tata  2011         85,000    11,400 kms    Diesel
170                         Toyota Corolla Altis 1.8 J      Toyota  2015       5,75,000    42,000 kms    Petrol
171                                Honda City 1.5 V MT       Honda  2014       5,49,000    39,000 kms    Petrol
172                            Maruti Suzuki Swift VDi      Maruti  2011       2,09,000    47,000 kms    Diesel
173                               Hyundai Eon Era Plus     Hyundai  2013       1,85,000    27,000 kms    Petrol
174                               Mahindra Scorpio S10    Mahindra  2015       9,00,000    97,200 kms    Diesel
175                                    Mahindra XUV500    Mahindra  2014       6,99,999    52,000 kms    Diesel
176                                         Honda Brio       Honda  2012       2,24,999    30,000 kms    Petrol

In [3]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

In [4]:
ds.describe()

              name company  year          Price  kms_driven fuel_type
count          892     892   892            892         840       837
unique         525      48    61            274         258         3
top     Honda City  Maruti  2015  Ask For Price  45,000 kms    Petrol
freq            13     235   117             35          30       440

In [5]:
ds["year"].unique()

array(['2007', '2006', '2018', '2014', '2015', '2012', '2013', '2016',
       '2010', '2017', '2008', '2011', '2019', '2009', '2005', '2000',
       '...', '150k', 'TOUR', '2003', 'r 15', '2004', 'Zest', '/-Rs',
       'sale', '1995', 'ara)', '2002', 'SELL', '2001', 'tion', 'odel',
       '2 bs', 'arry', 'Eon', 'o...', 'ture', 'emi', 'car', 'able', 'no.',
       'd...', 'SALE', 'digo', 'sell', 'd Ex', 'n...', 'e...', 'D...',
       ', Ac', 'go .', 'k...', 'o c4', 'zire', 'cent', 'Sumo', 'cab',
       't xe', 'EV2', 'r...', 'zest'], dtype=object)

In [6]:
ds.dropna(inplace=True)

In [7]:
# for year

ds["year"]=pd.to_numeric(ds["year"],errors='coerce')

In [8]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
Index: 837 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        837 non-null    object
 1   company     837 non-null    object
 2   year        837 non-null    int64
 3   Price       837 non-null    object
 4   kms_driven  837 non-null    object
 5   fuel_type   837 non-null    object
dtypes: int64(1), object(5)
memory usage: 45.8+ KB

In [9]:
# for price

ds["Price"].unique()

array(['80,000', '4,25,000', 'Ask For Price', '3,25,000', '5,75,000',
       '1,75,000', '1,90,000', '8,30,000', '2,50,000', '1,82,000',
       '3,15,000', '4,15,000', '3,20,000', '10,00,000', '5,00,000',
       '3,50,000', '1,60,000', '3,10,000', '75,000', '1,00,000',
       '2,90,000', '95,000', '1,80,000', '3,85,000', '1,05,000',
       '6,50,000', '6,89,999', '4,48,000', '5,49,000', '5,01,000',
       '4,89,999', '2,80,000', '3,49,999', '2,84,999', '3,45,000',
       '4,99,999', '2,35,000', '2,49,999', '14,75,000', '3,95,000',
       '2,20,000', '1,70,000', '85,000', '2,00,000', '5,70,000',
       '1,10,000', '4,48,999', '18,91,111', '1,59,500', '3,44,999',
       '4,49,999', '8,65,000', '6,99,000', '3,75,000', '2,24,999',
       '12,00,000', '1,95,000', '3,51,000', '2,40,000', '90,000',
       '1,55,000', '6,00,000', '1,89,500', '2,10,000', '3,90,000',
       '1,35,000', '16,00,000', '7,01,000', '2,65,000', '5,25,000',
       '3,72,000', '6,35,000', '5,50,000', '4,85,000', '3,29,500',
       '2,51,111', '5,69,999', '69,999', '2,99,999', '3,99,999',
       '4,50,000', '2,70,000', '1,58,400', '1,79,000', '1,25,000',
       '2,99,000', '1,50,000', '2,85,000', '3,40,000', '70,000',
       '2,89,999', '8,49,999', '7,49,999', '2,74,999', '9,84,999',
       '5,99,999', '2,44,999', '4,74,999', '2,45,000', '1,69,500',
       '2,75,000', '3,70,000', '1,68,000', '1,45,000', '98,500',
       '2,09,000', '1,85,000', '9,00,000', '6,99,999', '1,99,999',
       '5,44,999', '1,99,000', '5,40,000', '49,000', '7,00,000', '55,000',
       '8,95,000', '3,55,000', '5,65,000', '3,65,000', '40,000',
       '4,00,000', '3,30,000', '5,80,000', '3,79,000', '2,19,000',
       '5,19,000', '7,30,000', '20,00,000', '21,00,000', '14,00,000',
       '3,11,000', '8,55,000', '5,35,000', '1,78,000', '3,00,000',
       '2,55,000', '5,49,999', '3,80,000', '57,000', '4,10,000',
       '2,25,000', '1,20,000', '59,000', '5,99,000', '6,75,000', '72,500',
       '6,10,000', '2,30,000', '5,20,000', '5,24,999', '4,24,999',
       '6,44,999', '5,84,999', '7,99,999', '4,44,999', '6,49,999',
       '9,44,999', '5,74,999', '3,74,999', '1,30,000', '4,01,000',
       '13,50,000', '1,74,999', '2,39,999', '99,999', '3,24,999',
       '10,74,999', '11,30,000', '1,49,000', '7,70,000', '30,000',
       '3,35,000', '3,99,000', '65,000', '1,69,999', '1,65,000',
       '5,60,000', '9,50,000', '7,15,000', '45,000', '9,40,000',
       '1,55,555', '15,00,000', '4,95,000', '8,00,000', '12,99,000',
       '5,30,000', '14,99,000', '32,000', '4,05,000', '7,60,000',
       '7,50,000', '4,19,000', '1,40,000', '15,40,000', '1,23,000',
       '4,98,000', '4,80,000', '4,88,000', '15,25,000', '5,48,900',
       '7,25,000', '99,000', '52,000', '28,00,000', '4,99,000',
       '3,81,000', '2,78,000', '6,90,000', '2,60,000', '90,001',
       '1,15,000', '15,99,000', '1,59,000', '51,999', '2,15,000',
       '35,000', '11,50,000', '2,69,000', '60,000', '4,30,000',
       '85,00,003', '4,01,919', '4,90,000', '4,24,000', '2,05,000',
       '5,49,900', '4,35,000', '1,89,700', '3,89,700', '3,60,000',
       '2,95,000', '1,14,990', '10,65,000', '4,70,000', '48,000',
       '1,88,000', '4,65,000', '1,79,999', '21,90,000', '23,90,000',
       '10,75,000', '4,75,000', '10,25,000', '6,15,000', '19,00,000',
       '14,90,000', '15,10,000', '18,50,000', '7,90,000', '17,25,000',
       '12,25,000', '68,000', '9,70,000', '31,00,000', '8,99,000',
       '88,000', '53,000', '5,68,500', '71,000', '5,90,000', '7,95,000',
       '42,000', '1,89,000', '1,62,000', '35,999', '29,00,000', '39,999',
       '50,500', '5,10,000', '8,60,000', '5,00,001'], dtype=object)

In [10]:
ds["Price"]=ds["Price"].str.replace(",","")

In [11]:
ds["Price"]=pd.to_numeric(ds["Price"],errors='coerce')

In [12]:
ds["Price"].unique()

array([  80000.,  425000.,      nan,  325000.,  575000.,  175000.,
        190000.,  830000.,  250000.,  182000.,  315000.,  415000.,
        320000., 1000000.,  500000.,  350000.,  160000.,  310000.,
         75000.,  100000.,  290000.,   95000.,  180000.,  385000.,
        105000.,  650000.,  689999.,  448000.,  549000.,  501000.,
        489999.,  280000.,  349999.,  284999.,  345000.,  499999.,
        235000.,  249999., 1475000.,  395000.,  220000.,  170000.,
         85000.,  200000.,  570000.,  110000.,  448999., 1891111.,
        159500.,  344999.,  449999.,  865000.,  699000.,  375000.,
        224999., 1200000.,  195000.,  351000.,  240000.,   90000.,
        155000.,  600000.,  189500.,  210000.,  390000.,  135000.,
       1600000.,  701000.,  265000.,  525000.,  372000.,  635000.,
        550000.,  485000.,  329500.,  251111.,  569999.,   69999.,
        299999.,  399999.,  450000.,  270000.,  158400.,  179000.,
        125000.,  299000.,  150000.,  285000.,  340000.,   70000.,
        289999.,  849999.,  749999.,  274999.,  984999.,  599999.,
        244999.,  474999.,  245000.,  169500.,  275000.,  370000.,
        168000.,  145000.,   98500.,  209000.,  185000.,  900000.,
        699999.,  199999.,  544999.,  199000.,  540000.,   49000.,
        700000.,   55000.,  895000.,  355000.,  565000.,  365000.,
         40000.,  400000.,  330000.,  580000.,  379000.,  219000.,
        519000.,  730000., 2000000., 2100000., 1400000.,  311000.,
        855000.,  535000.,  178000.,  300000.,  255000.,  549999.,
        380000.,   57000.,  410000.,  225000.,  120000.,   59000.,
        599000.,  675000.,   72500.,  610000.,  230000.,  520000.,
        524999.,  424999.,  644999.,  584999.,  799999.,  444999.,
        649999.,  944999.,  574999.,  374999.,  130000.,  401000.,
       1350000.,  174999.,  239999.,   99999.,  324999., 1074999.,
       1130000.,  149000.,  770000.,   30000.,  335000.,  399000.,
         65000.,  169999.,  165000.,  560000.,  950000.,  715000.,
         45000.,  940000.,  155555., 1500000.,  495000.,  800000.,
       1299000.,  530000., 1499000.,   32000.,  405000.,  760000.,
        750000.,  419000.,  140000., 1540000.,  123000.,  498000.,
        480000.,  488000., 1525000.,  548900.,  725000.,   99000.,
         52000., 2800000.,  499000.,  381000.,  278000.,  690000.,
        260000.,   90001.,  115000., 1599000.,  159000.,   51999.,
        215000.,   35000., 1150000.,  269000.,   60000.,  430000.,
       8500003.,  401919.,  490000.,  424000.,  205000.,  549900.,
        435000.,  189700.,  389700.,  360000.,  295000.,  114990.,
       1065000.,  470000.,   48000.,  188000.,  465000.,  179999.,
       2190000., 2390000., 1075000.,  475000., 1025000.,  615000.,
       1900000., 1490000., 1510000., 1850000.,  790000., 1725000.,
       1225000.,   68000.,  970000., 3100000.,  899000.,   88000.,
         53000.,  568500.,   71000.,  590000.,  795000.,   42000.,
        189000.,  162000.,   35999., 2900000.,   39999.,   50500.,
        510000.,  860000.,  500001.])

In [13]:
# for kms_driven
ds["kms_driven"]=ds["kms_driven"].str.replace(",","").str.replace(" kms","")

In [14]:
ds["kms_driven"]=pd.to_numeric(ds["kms_driven"],errors='coerce')

In [15]:
ds=ds[ds["kms_driven"] >=10000]

In [16]:
ds=ds[ds["kms_driven"] <=200000]

In [17]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
Index: 751 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        751 non-null    object
 1   company     751 non-null    object
 2   year        751 non-null    int64
 3   Price       736 non-null    float64
 4   kms_driven  751 non-null    int64
 5   fuel_type   751 non-null    object
dtypes: float64(1), int64(2), object(3)
memory usage: 41.1+ KB

In [18]:
sorted(ds["kms_driven"].unique())

[np.int64(10000),
 np.int64(10544),
 np.int64(10750),
 np.int64(11000),
 np.int64(11400),
 np.int64(11500),
 np.int64(11523),
 np.int64(12000),
 np.int64(12500),
 np.int64(12516),
 np.int64(13000),
 np.int64(13349),
 np.int64(13500),
 np.int64(13900),
 np.int64(14000),
 np.int64(15000),
 np.int64(15141),
 np.int64(15487),
 np.int64(15574),
 np.int64(15975),
 np.int64(16000),
 np.int64(16934),
 np.int64(18000),
 np.int64(18500),
 np.int64(19000),
 np.int64(19336),
 np.int64(20000),
 np.int64(21000),
 np.int64(22000),
 np.int64(22134),
 np.int64(23000),
 np.int64(23452),
 np.int64(24000),
 np.int64(24330),
 np.int64(24530),
 np.int64(24652),
 np.int64(24695),
 np.int64(24800),
 np.int64(25000),
 np.int64(25500),
 np.int64(26500),
 np.int64(27000),
 np.int64(28000),
 np.int64(28028),
 np.int64(28400),
 np.int64(28600),
 np.int64(29000),
 np.int64(29500),
 np.int64(29685),
 np.int64(30000),
 np.int64(30201),
 np.int64(30600),
 np.int64(30874),
 np.int64(31000),
 np.int64(32000),
 np.int64(32700),
 np.int64(33000),
 np.int64(33333),
 np.int64(33400),
 np.int64(33600),
 np.int64(34000),
 np.int64(34580),
 np.int64(35000),
 np.int64(35500),
 np.int64(35522),
 np.int64(35550),
 np.int64(36000),
 np.int64(36200),
 np.int64(36469),
 np.int64(37000),
 np.int64(37200),
 np.int64(37458),
 np.int64(37518),
 np.int64(38000),
 np.int64(38200),
 np.int64(38500),
 np.int64(38600),
 np.int64(38900),
 np.int64(39000),
 np.int64(39522),
 np.int64(39700),
 np.int64(40000),
 np.int64(41000),
 np.int64(41800),
 np.int64(42000),
 np.int64(42590),
 np.int64(43000),
 np.int64(43200),
 np.int64(43222),
 np.int64(44000),
 np.int64(44005),
 np.int64(45000),
 np.int64(45863),
 np.int64(45872),
 np.int64(45933),
 np.int64(46000),
 np.int64(47000),
 np.int64(47900),
 np.int64(48000),
 np.int64(48006),
 np.int64(48008),
 np.int64(48247),
 np.int64(48508),
 np.int64(48660),
 np.int64(49000),
 np.int64(49500),
 np.int64(49800),
 np.int64(50000),
 np.int64(51000),
 np.int64(52000),
 np.int64(52500),
 np.int64(52800),
 np.int64(53000),
 np.int64(54000),
 np.int64(54500),
 np.int64(54870),
 np.int64(55000),
 np.int64(55700),
 np.int64(55800),
 np.int64(56000),
 np.int64(56400),
 np.int64(56450),
 np.int64(56758),
 np.int64(57000),
 np.int64(57923),
 np.int64(58000),
 np.int64(58559),
 np.int64(59000),
 np.int64(59466),
 np.int64(59910),
 np.int64(60000),
 np.int64(60105),
 np.int64(60123),
 np.int64(60500),
 np.int64(62000),
 np.int64(62500),
 np.int64(63000),
 np.int64(64000),
 np.int64(65000),
 np.int64(65422),
 np.int64(65480),
 np.int64(66000),
 np.int64(67000),
 np.int64(68000),
 np.int64(68485),
 np.int64(69000),
 np.int64(69900),
 np.int64(70000),
 np.int64(71200),
 np.int64(72000),
 np.int64(72160),
 np.int64(73000),
 np.int64(74000),
 np.int64(75000),
 np.int64(76000),
 np.int64(77000),
 np.int64(80000),
 np.int64(80200),
 np.int64(81876),
 np.int64(82000),
 np.int64(84000),
 np.int64(85000),
 np.int64(85455),
 np.int64(85960),
 np.int64(87000),
 np.int64(88000),
 np.int64(90000),
 np.int64(90001),
 np.int64(91200),
 np.int64(95000),
 np.int64(95500),
 np.int64(97000),
 np.int64(97200),
 np.int64(99000),
 np.int64(100000),
 np.int64(100200),
 np.int64(100800),
 np.int64(102563),
 np.int64(103553),
 np.int64(104000),
 np.int64(111111),
 np.int64(116000),
 np.int64(117000),
 np.int64(120000),
 np.int64(129000),
 np.int64(130000),
 np.int64(131000),
 np.int64(132000),
 np.int64(133000),
 np.int64(137495),
 np.int64(140000),
 np.int64(146000),
 np.int64(147000),
 np.int64(150000),
 np.int64(160000),
 np.int64(166000),
 np.int64(170000),
 np.int64(175400),
 np.int64(175430),
 np.int64(180000),
 np.int64(195000),
 np.int64(200000)]

In [19]:
ds["fuel_type"].unique()

array(['Petrol', 'Diesel', 'LPG'], dtype=object)

In [20]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
Index: 751 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        751 non-null    object
 1   company     751 non-null    object
 2   year        751 non-null    int64
 3   Price       736 non-null    float64
 4   kms_driven  751 non-null    int64
 5   fuel_type   751 non-null    object
dtypes: float64(1), int64(2), object(3)
memory usage: 41.1+ KB

In [21]:
ds["company"].unique()

array(['Hyundai', 'Maruti', 'Ford', 'Skoda', 'Mahindra', 'Audi', 'Toyota',
       'Renault', 'Honda', 'Datsun', 'Mitsubishi', 'Tata', 'Volkswagen',
       'Chevrolet', 'Mini', 'BMW', 'Nissan', 'Hindustan', 'Fiat',
       'Mercedes', 'Land', 'Force', 'Jaguar', 'Volvo'], dtype=object)

In [22]:
for i in ds.index:
    company=ds.loc[i,"company"]
    name=ds.loc[i,"name"]
    name=name.replace(company,"").strip()
    ds.loc[i,"name"]=name

In [23]:
ds["name"].unique()

array(['Santro Xing XO eRLX Euro III', 'Suzuki Alto 800 Vxi',
       'Grand i10 Magna 1.2 Kappa VTVT', 'EcoSport Titanium 1.5L TDCi',
       'Figo', 'Eon', 'EcoSport Ambiente 1.5L TDCi',
       'Suzuki Alto K10 VXi AMT', 'Fabia Classic 1.2 MPI',
       'Suzuki Stingray VXi', 'Elite i20 Magna 1.2', 'Scorpio SLE BS IV',
       'Q7', 'Scorpio S10', 'Suzuki Alto 800', 'i20 Sportz 1.2',
       'Suzuki Alto 800 Lx', 'Suzuki Vitara Brezza ZDi', 'Suzuki Alto LX',
       'Bolero DI', 'Suzuki Swift Dzire ZDi', 'Scorpio S10 4WD',
       'Suzuki Swift Vdi BSIII', 'Suzuki Wagon R VXi BS III',
       'Suzuki Wagon R VXi Minor', 'Innova 2.0 G 8 STR BS IV',
       'Lodgy 85 PS RXL', 'Yeti Ambition 2.0 TDI CR 4x2',
       'Suzuki Baleno Delta 1.2', 'Duster 110 PS RxZ Diesel Plus',
       'Duster 85 PS RxE Diesel', 'City 1.5 S MT', 'Suzuki Dzire',
       'Amaze', 'Amaze 1.5 SX i DTEC', 'City', 'Redi GO S',
       'Suzuki SX4 ZXI MT', 'Pajero Sport Limited Edition',
       'Suzuki Swift VXi 1.2 ABS BS IV', 'City ZX CVT',
       'Suzuki Wagon R LX BS IV', 'Indigo eCS LS CR4 BS IV',
       'Polo Highline Exquisite P', 'Spark LS 1.0',
       'Duster 110PS Diesel RxZ', 'Cooper S 1.6',
       'Fabia 1.2L Diesel Ambiente', 'Duster', 'Scorpio S4',
       'Scorpio VLX 2WD BS IV', 'Quanto C8', 'EcoSport', 'Brio',
       'i20 Magna', 'Corolla Altis Diesel D4DG',
       'Verna Transform SX VTVT', 'Corolla Altis Petrol Ltd',
       'City 1.5 EXi New', 'Fabia 1.2L Diesel Elegance', '3 Series 320i',
       'Suzuki A Star Lxi', 'Etios GD', 'Figo Diesel EXI Option',
       'Suzuki Swift Dzire VXi 1.2 BS IV', 'Beat LT Diesel',
       '7 Series 740Li Sedan', 'XUV500 W8 AWD 2013', 'i10 Magna 1.2',
       'Verna Fluidic New', 'Suzuki Swift VXi 1.2 BS IV',
       'Suzuki Ertiga ZXI Plus', 'Suzuki Ertiga Vxi', 'Suzuki Ertiga VDi',
       'Suzuki Alto LXi BS III', 'Grand i10 Asta 1.1 CRDi',
       'Amaze 1.2 S i VTEC', 'i20 Asta 1.4 CRDI 6 Speed',
       'Figo Diesel EXI', 'Suzuki Eeco 5 STR WITH AC HTR',
       'Suzuki Ertiga ZXi', 'Suzuki Esteem LXi BS III', 'Suzuki Ritz VXI',
       'Suzuki Ritz LDi', 'Suzuki Dzire VDI', 'Etios Liva G',
       'i20 Sportz 1.4 CRDI', 'Spark', 'Micra XV', 'Suzuki Swift',
       'Amaze 1.5 S i DTEC', 'Beat', 'City 1.5 V MT',
       'EcoSport Trend 1.5L TDCi', 'i20 Asta 1.2', 'Indica V2 eLS',
       'Suzuki Alto 800 Lxi', 'Motors Ambassador', 'Corolla Altis 1.8 GL',
       'Corolla Altis 1.8 J', 'Innova 2.5 GX BS IV 7 STR',
       'Jetta Highline TDI AT', 'Polo', 'Scorpio', 'Sunny', 'Elite i20',
       'Kwid', 'Scorpio VLX Airbag', 'Spark LT 1.0',
       'Suzuki Swift RS VDI', 'Punto Emotion 1.2', 'i10 Sportz 1.2',
       'Beat LT Opt Diesel', 'Beat LS Diesel', 'Indigo CS',
       'Suzuki Swift VDi', 'Eon Era Plus', 'XUV500', 'Fiesta',
       'Suzuki Wagon R', 'i20', 'Indigo eCS LX TDI BS III',
       'Fluidic Verna 1.6 CRDi SX', 'Petra ELX 1.2 PS', 'Suzuki Zen VX',
       'Creta 1.6 SX Plus Petrol', 'Scorpio SLX',
       'Innova 2.5 G BS III 8 STR', 'Suzuki Wagon R LXI BS IV',
       'Suzuki Alto Std BS IV', 'Suzuki Wagon R LXi BS III',
       'Suzuki Swift VXI BSIII', 'Sumo Victa EX 10 by 7 Str BSIII',
       'Passat Diesel Comfortline AT', 'Scala RxL Diesel Travelogue',
       'Grand i10 Sportz O 1.2 Kappa VTVT', 'i20 Active 1.2 SX',
       'Xylo E4', 'Bolero SLE BS IV', 'Suzuki SX4', 'Etios',
       'City ZX VTEC', 'Suzuki Wagon R LX BS III', 'City VX O MT Diesel',
       'Thar CRDe 4x4 AC', 'A4 1.8 TFSI Multitronic Premium Plus',
       'Benz GLA Class 200 CDI Sport', 'Rover Freelander 2 SE',
       'Aria Pleasure 4X2', 'Benz B Class B180 Sports', 'Jazz VX MT',
       'i20 Active 1.4L SX O', 'Cooper S', 'Suzuki Ciaz ZXI Plus',
       'Tavera Neo', 'Eon Sportz', 'Sumo Gold Select Variant',
       'Suzuki Wagon R 1.0', 'Suzuki Esteem VXi BS III',
       'Enjoy 1.4 LS 8 STR', 'Suzuki Wagon R 1.0 VXi',
       'Terrano XL D Plus', 'Duster 85 PS RxL Diesel', 'Suzuki Dzire ZXI',
       'Kwid RXT Opt', 'Suzuki  800 Std', 'Kwid 1.0 RXT AMT',
       'Scala RxL Diesel', 'Grand i10 Asta 1.2 Kappa VTVT O',
       'Beat LS Petrol', 'Accent GLX', 'Suzuki Swift LDi',
       'Indica V2 Xeta e GLE', 'Indigo CS LS DiCOR',
       'Scorpio VLX Special Edition BS III', 'Indica eV2 LS', 'Accord',
       'EcoSport Titanium 1.5 TDCi', 'Suzuki Ertiga', 'Scorpio 2.6 CRDe',
       'Mobilio', 'Corolla Altis', 'Laura', 'Verna Fluidic',
       'Suzuki Vitara Brezza', 'Manza Aura Quadrajet',
       'Sail UVA Petrol LT ABS', 'Verna Fluidic 1.6 VTVT SX',
       'A4 2.0 TDI 177bhp Premium', 'Elantra SX',
       'Scorpio VLX 4WD Airbag', 'KUV100 K8 D 6 STR', 'i10', 'i20 Active',
       'Redi GO', 'Etios Liva', 'Accent', 'Verna', 'Fortuner',
       'i10 Sportz', 'Spark LT 1.0 Airbag', 'Indigo eCS VX CR4 BS IV',
       'Rapid Elegance 1.6 TDI CR MT', 'Vista Quadrajet VX',
       'Suzuki Alto K10 VXi AT', 'Suzuki Zen LXi BS III',
       'Suzuki Swift Dzire Tour LDi', 'City ZX EXi', 'Beat Diesel',
       'Verna 1.4 VTVT', 'Suzuki  800 Std – Befo',
       'Elite i20 Asta 1.4 CRDI', 'Suzuki Versa DX2 8 SEATER BSIII',
       'Indigo LX TDI BS III', 'Vento Konekt Diesel Highline',
       'Benz C Class 200 CDI Classic', 'Santro Xing GLS',
       'Suzuki Omni Limited Edition', 'Sonata Transform 2.4 GDi MT',
       'Jazz S MT', 'Grand i10 Sportz 1.2 Kappa VTVT',
       'Suzuki Zen LXi BSII', 'Scorpio W Turbo 2.6DX 9 Seater',
       'Suzuki Alto K10 VXi', 'Grand i10 Asta 1.2 Kappa VTVT',
       'XUV500 W8', 'i20 Magna O 1.2', 'Duster 85 PS RxL Explore LE',
       'Brio V MT', 'TUV300 T4 Plus', 'Ikon 1.3 CLXi NXt Finesse',
       'Fortuner 3.0 4x4 MT', 'Manza ELAN Quadrajet',
       'Benz A Class A 180 Sport Petrol', 'Indigo LS', 'i20 Magna 1.2',
       'Vento Highline Plus 1.5 Diesel AT', 'Kwid RXT',
       'Amaze 1.5 E i DTEC', 'Verna 1.6 EX VTVT', '5 Series 520d Sedan',
       'Superb 1.8 TFSI AT', 'Q3 2.0 TDI quattro Premium',
       'Bolero DI BSII', 'Suzuki Zen Estilo LXI Green CNG',
       'Figo Duratorq Diesel Titanium 1.4', 'Suzuki Wagon R VXI BS IV',
       'Logan Diesel 1.5 DLS', 'Nano GenX XMA', 'Figo Petrol LXI',
       'i10 Magna 1.2 Kappa2', 'Corolla H2', 'Indigo CS eLS BS IV',
       'Xcent Base 1.1 CRDi', 'Accent Executive Edition',
       'Zest XE 75 PS Diesel', 'Suzuki Dzire LDI', 'Sumo Gold LX BS IV',
       'Corolla Altis GL Petrol', 'Suzuki Eeco 7 STR',
       'Fortuner 3.0 4x2 MT', 'XUV500 W6', 'Suzuki 800',
       'Mobilio S i DTEC', 'Verna 1.6 CRDI E', 'Indica', 'Santro Xing',
       'Suzuki Zen Estilo', 'Brio VX AT', 'Suzuki Wagon R Select Variant',
       'Xcent S 1.2', 'Eon Magna Plus', 'Suzuki Ritz GENUS VXI',
       'Grand i10 Magna AT 1.2 Kappa VTVT', 'Eon D Lite Plus',
       'Suzuki Estilo VXi ABS BS IV', 'Suzuki Vitara Brezza LDi O',
       'Innova 2.0 V', 'Scorpio Vlx BSIV', 'Lancer 1.8 LXi',
       'Suzuki  800 AC', 'Suzuki Alto 800 LXI CNG O',
       'Fiesta SXi 1.6 ABS', 'Suzuki Ritz VDi', 'Suzuki Estilo LX BS IV',
       'A6 2.0 TDI Premium', 'Suzuki Alto', 'Suzuki Baleno Sigma 1.2',
       'Suzuki Swift GLAM', 'Getz Prime 1.3 GVS', 'Santro',
       'Getz Prime 1.3 GLX', 'Beat PS Diesel',
       'EcoSport Trend 1.5 Ti VCT', 'Indica V2 DLG', 'X1 xDrive20d xLine',
       'City 1.5 V AT', 'Cruze LTZ AT', 'Suzuki Swift Dzire VDi',
       'XUV500 W10', 'Suzuki Alto K10 LXi CNG', 'Accent GLE',
       'Motors One SUV', 'Spark 1.0 LT', 'Etios Liva GD',
       'Duster 85PS Diesel RxL Optional with Nav', 'Enjoy',
       '5 Series 530i', 'Cruze LTZ', 'Verna VGT CRDi SX ABS',
       'Suzuki Omni', 'Suzuki Celerio VDi', 'Zest Quadrajet 1.3',
       'Indigo CS eLX BS IV', 'i10 Era', 'Indigo eCS LX CR4 BS IV',
       'Indigo Marina LS', 'Xcent SX 1.2', 'Nano LX Special Edition',
       'Duster 110 PS RxZ Diesel', 'Suzuki Wagon R AX BSIV', 'Xylo E8',
       'Manza Aqua Quadrajet', 'Venture EX 8 STR',
       'Suzuki Swift Dzire Tour LXi', 'Suzuki Alto LX BSII',
       'Octavia Classic 1.9 TDI MT', 'Suzuki Omni LPG BS IV',
       'Sumo Gold EX BS IV', 'Verna 1.6 CRDI SX',
       'Scorpio SLX 2.6 Turbo 8 Str', 'Elite i20 Sportz 1.2',
       'Ikon 1.6 Nxt', 'Innova 2.5 V 7 STR', 'Sunny XL',
       'Suzuki Swift VDi BS IV', 'Innova 2.0 G4', 'Suzuki Swift VDi ABS',
       'Elite i20 Asta 1.2', 'Polo Trendline 1.5L D', 'Etios Liva Diesel',
       'Suzuki Ciaz ZXi Plus RS', 'Elantra 1.8 S',
       'EcoSport Trend 1.5L Ti VCT', 'XF 2.2 Diesel Luxury',
       'Q5 2.0 TDI quattro Premium Plus', '3 Series 320d Sedan',
       'Suzuki Swift ZXi 1.2 BS IV', 'X1 sDrive20d',
       'Suzuki S Cross Sigma 1.3', 'Suzuki Ertiga LDi', 'City SV',
       'Vento Comfortline Petrol', 'KUV100',
       'Suzuki Swift Dzire Tour VDi', 'Scorpio 2.6 SLX',
       'Suzuki Omni 8 STR BS III', 'Jetta Comfortline 1.9 TDI AT',
       'S80 Summum D4', 'Corolla Altis VL AT Petrol',
       'Pajero Sport 2.5 AT', 'Beat LT Petrol', 'X1',
       'Benz C Class C 220 CDI Avantgarde', 'Vento Comfortline Diesel',
       'Indigo CS GLS', 'City ZX GXi', 'Suzuki Wagon R Duo Lxi',
       'Suzuki Zen LX BSII', 'Duster RxL Petrol', 'WR V S MT Petrol',
       'Duster 110 PS RxL Diesel', 'Scorpio LX BS III',
       'Suzuki SX4 Celebration Diesel', 'A3 Cabriolet 40 TFSI',
       'Santro AE GLS Audio', 'Xylo D2 BS IV', 'Getz GLE',
       'Santro Xing XL AT eRLX Euro III', 'Santro Xing XL eRLX Euro III',
       'Indica V2 DLS BS III', 'City 1.5 E MT', 'Micra XL',
       'City 1.5 S Inspire', 'Indica eV2 eXeta eGLX',
       'Suzuki Omni E 8 STR BS IV', 'Verna 1.6 CRDI SX Plus AT',
       'Tavera LS B3 10 Seats BSII',
       'Motors Ambassador Classic Mark 4 – Befo',
       'Fusion 1.4 TDCi Diesel', 'Linea Emotion 1.4 L T Jet Petrol',
       'Ikon 1.3 Flair Josh 100', 'Indica V2 LS', 'Xylo D2', 'Corolla',
       'Sumo Grande MKII GX', 'Polo Highline1.2L P', 'Tiago Revotron XZ',
       'Indigo eCS', 'Xylo E8 BS IV', 'Sumo Gold FX BSIII', 'Creta',
       'Bolt XM Petrol', 'Suzuki Ritz', 'Lodgy', 'i20 Asta',
       'Suzuki Swift Select Variant', 'Indica V2 DLX BS III',
       'Scorpio VLX 2.2 mHawk Airbag BSIV', 'Innova 2.5 E 8 STR',
       'Go Plus', 'Indica V2', 'Santro Xing GL',
       'Innova 2.5 Z Diesel 7 Seater', 'Logan', 'Suzuki 800 Std BS III',
       'Sail 1.2 LS', 'Vento Highline Plus 1.5 Diesel', 'Manza',
       'Etios G', 'Qualis', 'Quanto C4', 'Suzuki Swift Dzire',
       'i20 Select Variant', 'City VX Petrol', 'Getz',
       'Benz C Class 200 K MT', 'Fabia', 'Suzuki Alto 800 Select Variant',
       'Suzuki Ritz VXI ABS', 'Indica V2 DLE BS III', 'Zest XM Diesel'],
      dtype=object)

In [24]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
Index: 751 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        751 non-null    object
 1   company     751 non-null    object
 2   year        751 non-null    int64
 3   Price       736 non-null    float64
 4   kms_driven  751 non-null    int64
 5   fuel_type   751 non-null    object
dtypes: float64(1), int64(2), object(3)
memory usage: 57.2+ KB

In [25]:
sorted(ds["kms_driven"].unique())

[np.int64(10000),
 np.int64(10544),
 np.int64(10750),
 np.int64(11000),
 np.int64(11400),
 np.int64(11500),
 np.int64(11523),
 np.int64(12000),
 np.int64(12500),
 np.int64(12516),
 np.int64(13000),
 np.int64(13349),
 np.int64(13500),
 np.int64(13900),
 np.int64(14000),
 np.int64(15000),
 np.int64(15141),
 np.int64(15487),
 np.int64(15574),
 np.int64(15975),
 np.int64(16000),
 np.int64(16934),
 np.int64(18000),
 np.int64(18500),
 np.int64(19000),
 np.int64(19336),
 np.int64(20000),
 np.int64(21000),
 np.int64(22000),
 np.int64(22134),
 np.int64(23000),
 np.int64(23452),
 np.int64(24000),
 np.int64(24330),
 np.int64(24530),
 np.int64(24652),
 np.int64(24695),
 np.int64(24800),
 np.int64(25000),
 np.int64(25500),
 np.int64(26500),
 np.int64(27000),
 np.int64(28000),
 np.int64(28028),
 np.int64(28400),
 np.int64(28600),
 np.int64(29000),
 np.int64(29500),
 np.int64(29685),
 np.int64(30000),
 np.int64(30201),
 np.int64(30600),
 np.int64(30874),
 np.int64(31000),
 np.int64(32000),
 np.int64(32700),
 np.int64(33000),
 np.int64(33333),
 np.int64(33400),
 np.int64(33600),
 np.int64(34000),
 np.int64(34580),
 np.int64(35000),
 np.int64(35500),
 np.int64(35522),
 np.int64(35550),
 np.int64(36000),
 np.int64(36200),
 np.int64(36469),
 np.int64(37000),
 np.int64(37200),
 np.int64(37458),
 np.int64(37518),
 np.int64(38000),
 np.int64(38200),
 np.int64(38500),
 np.int64(38600),
 np.int64(38900),
 np.int64(39000),
 np.int64(39522),
 np.int64(39700),
 np.int64(40000),
 np.int64(41000),
 np.int64(41800),
 np.int64(42000),
 np.int64(42590),
 np.int64(43000),
 np.int64(43200),
 np.int64(43222),
 np.int64(44000),
 np.int64(44005),
 np.int64(45000),
 np.int64(45863),
 np.int64(45872),
 np.int64(45933),
 np.int64(46000),
 np.int64(47000),
 np.int64(47900),
 np.int64(48000),
 np.int64(48006),
 np.int64(48008),
 np.int64(48247),
 np.int64(48508),
 np.int64(48660),
 np.int64(49000),
 np.int64(49500),
 np.int64(49800),
 np.int64(50000),
 np.int64(51000),
 np.int64(52000),
 np.int64(52500),
 np.int64(52800),
 np.int64(53000),
 np.int64(54000),
 np.int64(54500),
 np.int64(54870),
 np.int64(55000),
 np.int64(55700),
 np.int64(55800),
 np.int64(56000),
 np.int64(56400),
 np.int64(56450),
 np.int64(56758),
 np.int64(57000),
 np.int64(57923),
 np.int64(58000),
 np.int64(58559),
 np.int64(59000),
 np.int64(59466),
 np.int64(59910),
 np.int64(60000),
 np.int64(60105),
 np.int64(60123),
 np.int64(60500),
 np.int64(62000),
 np.int64(62500),
 np.int64(63000),
 np.int64(64000),
 np.int64(65000),
 np.int64(65422),
 np.int64(65480),
 np.int64(66000),
 np.int64(67000),
 np.int64(68000),
 np.int64(68485),
 np.int64(69000),
 np.int64(69900),
 np.int64(70000),
 np.int64(71200),
 np.int64(72000),
 np.int64(72160),
 np.int64(73000),
 np.int64(74000),
 np.int64(75000),
 np.int64(76000),
 np.int64(77000),
 np.int64(80000),
 np.int64(80200),
 np.int64(81876),
 np.int64(82000),
 np.int64(84000),
 np.int64(85000),
 np.int64(85455),
 np.int64(85960),
 np.int64(87000),
 np.int64(88000),
 np.int64(90000),
 np.int64(90001),
 np.int64(91200),
 np.int64(95000),
 np.int64(95500),
 np.int64(97000),
 np.int64(97200),
 np.int64(99000),
 np.int64(100000),
 np.int64(100200),
 np.int64(100800),
 np.int64(102563),
 np.int64(103553),
 np.int64(104000),
 np.int64(111111),
 np.int64(116000),
 np.int64(117000),
 np.int64(120000),
 np.int64(129000),
 np.int64(130000),
 np.int64(131000),
 np.int64(132000),
 np.int64(133000),
 np.int64(137495),
 np.int64(140000),
 np.int64(146000),
 np.int64(147000),
 np.int64(150000),
 np.int64(160000),
 np.int64(166000),
 np.int64(170000),
 np.int64(175400),
 np.int64(175430),
 np.int64(180000),
 np.int64(195000),
 np.int64(200000)]

In [26]:
sorted(ds["Price"].unique())

[np.float64(30000.0),
 np.float64(55000.0),
 np.float64(80000.0),
 np.float64(nan),
 np.float64(32000.0),
 np.float64(35000.0),
 np.float64(35999.0),
 np.float64(39999.0),
 np.float64(40000.0),
 np.float64(42000.0),
 np.float64(45000.0),
 np.float64(48000.0),
 np.float64(50500.0),
 np.float64(51999.0),
 np.float64(53000.0),
 np.float64(57000.0),
 np.float64(59000.0),
 np.float64(60000.0),
 np.float64(65000.0),
 np.float64(68000.0),
 np.float64(69999.0),
 np.float64(70000.0),
 np.float64(71000.0),
 np.float64(72500.0),
 np.float64(75000.0),
 np.float64(85000.0),
 np.float64(88000.0),
 np.float64(90000.0),
 np.float64(90001.0),
 np.float64(95000.0),
 np.float64(98500.0),
 np.float64(99000.0),
 np.float64(99999.0),
 np.float64(100000.0),
 np.float64(105000.0),
 np.float64(110000.0),
 np.float64(114990.0),
 np.float64(115000.0),
 np.float64(120000.0),
 np.float64(123000.0),
 np.float64(125000.0),
 np.float64(130000.0),
 np.float64(135000.0),
 np.float64(140000.0),
 np.float64(145000.0),
 np.float64(149000.0),
 np.float64(150000.0),
 np.float64(155000.0),
 np.float64(155555.0),
 np.float64(158400.0),
 np.float64(159000.0),
 np.float64(159500.0),
 np.float64(160000.0),
 np.float64(162000.0),
 np.float64(165000.0),
 np.float64(168000.0),
 np.float64(169500.0),
 np.float64(169999.0),
 np.float64(170000.0),
 np.float64(174999.0),
 np.float64(175000.0),
 np.float64(178000.0),
 np.float64(179000.0),
 np.float64(179999.0),
 np.float64(180000.0),
 np.float64(182000.0),
 np.float64(185000.0),
 np.float64(188000.0),
 np.float64(189000.0),
 np.float64(189500.0),
 np.float64(189700.0),
 np.float64(190000.0),
 np.float64(195000.0),
 np.float64(199000.0),
 np.float64(199999.0),
 np.float64(200000.0),
 np.float64(205000.0),
 np.float64(209000.0),
 np.float64(210000.0),
 np.float64(215000.0),
 np.float64(220000.0),
 np.float64(224999.0),
 np.float64(225000.0),
 np.float64(230000.0),
 np.float64(235000.0),
 np.float64(239999.0),
 np.float64(240000.0),
 np.float64(244999.0),
 np.float64(245000.0),
 np.float64(249999.0),
 np.float64(250000.0),
 np.float64(251111.0),
 np.float64(255000.0),
 np.float64(260000.0),
 np.float64(265000.0),
 np.float64(269000.0),
 np.float64(270000.0),
 np.float64(274999.0),
 np.float64(275000.0),
 np.float64(278000.0),
 np.float64(280000.0),
 np.float64(284999.0),
 np.float64(285000.0),
 np.float64(289999.0),
 np.float64(290000.0),
 np.float64(295000.0),
 np.float64(299000.0),
 np.float64(299999.0),
 np.float64(300000.0),
 np.float64(310000.0),
 np.float64(311000.0),
 np.float64(315000.0),
 np.float64(320000.0),
 np.float64(324999.0),
 np.float64(325000.0),
 np.float64(329500.0),
 np.float64(330000.0),
 np.float64(335000.0),
 np.float64(340000.0),
 np.float64(344999.0),
 np.float64(345000.0),
 np.float64(349999.0),
 np.float64(350000.0),
 np.float64(351000.0),
 np.float64(355000.0),
 np.float64(360000.0),
 np.float64(365000.0),
 np.float64(370000.0),
 np.float64(372000.0),
 np.float64(374999.0),
 np.float64(375000.0),
 np.float64(380000.0),
 np.float64(385000.0),
 np.float64(389700.0),
 np.float64(390000.0),
 np.float64(395000.0),
 np.float64(399000.0),
 np.float64(399999.0),
 np.float64(400000.0),
 np.float64(401000.0),
 np.float64(401919.0),
 np.float64(405000.0),
 np.float64(410000.0),
 np.float64(415000.0),
 np.float64(419000.0),
 np.float64(424999.0),
 np.float64(425000.0),
 np.float64(430000.0),
 np.float64(435000.0),
 np.float64(444999.0),
 np.float64(448000.0),
 np.float64(448999.0),
 np.float64(449999.0),
 np.float64(450000.0),
 np.float64(465000.0),
 np.float64(470000.0),
 np.float64(474999.0),
 np.float64(475000.0),
 np.float64(480000.0),
 np.float64(485000.0),
 np.float64(488000.0),
 np.float64(489999.0),
 np.float64(490000.0),
 np.float64(495000.0),
 np.float64(498000.0),
 np.float64(499000.0),
 np.float64(499999.0),
 np.float64(500000.0),
 np.float64(500001.0),
 np.float64(501000.0),
 np.float64(519000.0),
 np.float64(520000.0),
 np.float64(524999.0),
 np.float64(525000.0),
 np.float64(530000.0),
 np.float64(535000.0),
 np.float64(540000.0),
 np.float64(544999.0),
 np.float64(548900.0),
 np.float64(549000.0),
 np.float64(549900.0),
 np.float64(549999.0),
 np.float64(550000.0),
 np.float64(560000.0),
 np.float64(565000.0),
 np.float64(569999.0),
 np.float64(570000.0),
 np.float64(574999.0),
 np.float64(575000.0),
 np.float64(580000.0),
 np.float64(584999.0),
 np.float64(590000.0),
 np.float64(599000.0),
 np.float64(599999.0),
 np.float64(600000.0),
 np.float64(610000.0),
 np.float64(615000.0),
 np.float64(635000.0),
 np.float64(644999.0),
 np.float64(649999.0),
 np.float64(650000.0),
 np.float64(689999.0),
 np.float64(690000.0),
 np.float64(699000.0),
 np.float64(699999.0),
 np.float64(701000.0),
 np.float64(715000.0),
 np.float64(725000.0),
 np.float64(730000.0),
 np.float64(749999.0),
 np.float64(750000.0),
 np.float64(790000.0),
 np.float64(795000.0),
 np.float64(800000.0),
 np.float64(830000.0),
 np.float64(849999.0),
 np.float64(855000.0),
 np.float64(860000.0),
 np.float64(865000.0),
 np.float64(895000.0),
 np.float64(899000.0),
 np.float64(900000.0),
 np.float64(940000.0),
 np.float64(944999.0),
 np.float64(950000.0),
 np.float64(970000.0),
 np.float64(984999.0),
 np.float64(1000000.0),
 np.float64(1025000.0),
 np.float64(1065000.0),
 np.float64(1074999.0),
 np.float64(1075000.0),
 np.float64(1130000.0),
 np.float64(1150000.0),
 np.float64(1225000.0),
 np.float64(1299000.0),
 np.float64(1350000.0),
 np.float64(1400000.0),
 np.float64(1475000.0),
 np.float64(1490000.0),
 np.float64(1499000.0),
 np.float64(1500000.0),
 np.float64(1510000.0),
 np.float64(1525000.0),
 np.float64(1540000.0),
 np.float64(1599000.0),
 np.float64(1600000.0),
 np.float64(1725000.0),
 np.float64(1850000.0),
 np.float64(1891111.0),
 np.float64(1900000.0),
 np.float64(2000000.0),
 np.float64(2100000.0),
 np.float64(2190000.0),
 np.float64(2390000.0),
 np.float64(3100000.0),
 np.float64(8500003.0)]

In [27]:
ds.duplicated().unique()

array([False,  True])

In [28]:
ds.drop_duplicates(inplace=True)

In [29]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
Index: 666 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        666 non-null    object
 1   company     666 non-null    object
 2   year        666 non-null    int64
 3   Price       651 non-null    float64
 4   kms_driven  666 non-null    int64
 5   fuel_type   666 non-null    object
dtypes: float64(1), int64(2), object(3)
memory usage: 36.4+ KB

In [30]:
ds.to_csv("new_cleaned_data.csv")